* {
  margin: 0;
  padding: 0;
}

/*===== Variables =====*/
:root {
  --base-color: #121214;
  --color-secondary: #00875F;
}

body {
  background-color: var(--base-color);
  font-family: roboto, 'sans-serif';  
}

body h1 {
  text-align: center;
  
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--color-secondary);
}

.container {
  max-width: 50%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .title {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.container img {
  width: 6.25rem;
  height: 6.25rem;
  border: none;   
}

.container #apiResult1, #apiResult2, #apiResult3, #apiResult4 {
  background: var(--color-secondary);
  color: white;
  text-align: center;
  width: 100px;
}

.container #apiResult4 {
  border-radius: 5px;
}

.container p a {
  color: white;
}

.off {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.off img {
  width: 6.25rem;
  height: 6.25rem;
}

.off p {
  background: var(--color-secondary);
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;  
}

.off a {
  color: white;
}


