* {
  margin: 0;
  padding: 0;
}

/*===== Variables =====*/
:root {
  --base-color: #121214;
  --base-color-second: #00875F;
  --base-color-alt: #48875F;
}

body {
  background-color: var(--base-color);
  font-family: roboto, 'sans-serif';  
}

body h1 {
  text-align: center;
  
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--base-color-second);
}

.container {
  max-width: 50%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .title {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.container img {
  width: 6.25rem;
  height: 6.25rem;
  border: none;   
}

.container #apiResult1, #apiResult2, #apiResult3, #buttonOff {
  background: var(--base-color-second);
  color: white;
  text-align: center;
  width: 100px;
}

.container #buttonOff {
  border-radius: 5px;
}

.container #buttonOff {
  transition: background 0.3s;
}

.container #buttonOff:hover {
  background:var(--base-color-alt);
  cursor: pointer;
}
  
.container #buttonOff a {
  text-decoration: none; 
}

.container p a {
  color: white;
}

.waterPump {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.waterPump img {
  width: 6.25rem;
  height: 6.25rem;
}

.waterPump p {
  background: var(--base-color-second);
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;  
}

.waterPump a {
  color: white;
  text-decoration: none;
}

.buttonOn {
  transition: background 0.3s;
}

.buttonOn:hover {
  background:var(--base-color-alt);
  cursor: pointer;
}


