.button {
  background: var(--base-color-second);
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;  
  color: #fff;
  text-align: center;
  transition: background 0.3s;
}

.button:hover {
  background:var(--base-color-alt);
  cursor: pointer;
}
